<ion-view title="Analysis">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1 class="content-pad">Property Analysis</h1>

        <label class="item item-input">
            <span class="input-label">Total All In</span>
            {{property.purchasePrice+property.repairsAndImprovements | currency }}
        </label>

        <label class="item item-input item-icon-right">
            <span class="input-label">Cap Rate</span>
            {{calc.getCapRate(property) | percent}}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.capRateGood(), 'ion-checkmark-circled balanced': analysis.capRateGood()}"></i>
        </label>

        <label class="item item-input item-icon-right">
            <span class="input-label">Cash Flow</span>
            {{calc.getCashFlow(property) | currency }}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.cashFlowGood(), 'ion-checkmark-circled balanced': analysis.cashFlowGood()}"></i>
        </label>

        <label class="item item-input">
            <span class="input-label">Cash Flow per Year</span>
            {{calc.getCashFlow(property) * 12 | currency }}
        </label>

        <label class="item item-input">
            <span class="input-label">The 29 Cash Flow Indicator</span>
            {{calc.getCashFlow(property) * 29 | currency }}
        </label>

        <label class="item item-input">
            <span class="input-label">Cash-on-Cash ROI</span>
            {{calc.getCashFlow(property) * 12 / property.getTotalCashOutlay() | percent }}
        </label>

        <label class="item item-input item-icon-right">
            <span class="input-label">Estimated LTV</span>
            {{calc.getLTV(property) | percent }}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.ltvGood(), 'ion-checkmark-circled balanced': analysis.ltvGood()}"></i>
        </label>

        <label class="item item-input item-icon-right">
            <span class="input-label">Estimated DSCR</span>
            {{calc.getDSCR(property) | number : 2}}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.dscrGood(), 'ion-checkmark-circled balanced': analysis.dscrGood()}"></i>
        </label>

        <label class="item item-input item-icon-right">
            <span class="input-label">GRM</span>
            {{calc.getGRM(property) | number : 2}}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.grmGood(), 'ion-checkmark-circled balanced': analysis.grmGood()}"></i>
        </label>

        <label class="item item-input">
            <span class="input-label">Initial Cash Outlay</span>
            {{calc.getTotalCashOutlay(property) | currency }}
        </label>

        <label class="item item-input">
            <span class="input-label">Years to Recoup Investment</span>
            {{calc.getTotalCashOutlay(property) / calc.getCashFlow(property) / 12 | number:2 }}
        </label>
    </ion-content>
    <div class="bar bar-footer " ng-class="{'bar-balanced': greenLight(), 'bar-assertive': !greenLight()}">
        <div class="title">
            <span ng-show="greenLight()">Everything checks out!</span>
            <span ng-show="!greenLight()">Slow down, pardner!</span>
        </div>
    </div>
</ion-view>
