<ion-view title="Analysis">
    <ion-nav-buttons side="left">
        <!--The menu button-->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1 class="content-pad">Property Analysis</h1>

        <calculated-field label="Total All In">{{property.initial.purchasePrice+property.initial.repairsAndImprovements | currency}}</calculated-field>
        <calculated-field label="Cap Rate">
            {{calc.getCapRate(property) | percent}}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.capRateGood(), 'ion-checkmark-circled balanced': analysis.capRateGood()}"></i>
        </calculated-field>
        <calculated-field label="Cash Flow (Monthly)">
            {{calc.getCashFlow(property) | currency }}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.cashFlowGood(), 'ion-checkmark-circled balanced': analysis.cashFlowGood()}"></i>
        </calculated-field>
        <calculated-field label="Cash Flow (Annually)">
            {{calc.getCashFlow(property) * 12 | currency }}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.cashFlowGood(), 'ion-checkmark-circled balanced': analysis.cashFlowGood()}"></i>
        </calculated-field>
        <calculated-field label="The 29 Cash Flow Indicator">{{calc.getCashFlow(property) * 29 | currency }}</calculated-field>
        <calculated-field label="Cash-on-Cash ROI" ng-show="appVersion !== version.basic">
            {{calc.getCashFlow(property) * 12 / property.getTotalCashOutlay() | percent }}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.cashFlowGood(), 'ion-checkmark-circled balanced': analysis.cashFlowGood()}"></i>
        </calculated-field>
        <calculated-field label="Estimated LTV">
            {{calc.getLTV(property) | percent }}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.ltvGood(), 'ion-checkmark-circled balanced': analysis.ltvGood()}"></i>
        </calculated-field>
        <!--<calculated-field label="Estimated DSCR" ng-show="appVersion !== version.basic">-->
            <!--{{calc.getDSCR(property) | number : 2}}-->
            <!--<i class="icon" ng-class="{'ion-close-circled assertive': !analysis.dscrGood(), 'ion-checkmark-circled balanced': analysis.dscrGood()}"></i>-->
        <!--</calculated-field>-->
        <calculated-field label="GRM">
            {{calc.getGRM(property) | number : 2}}
            <i class="icon" ng-class="{'ion-close-circled assertive': !analysis.grmGood(), 'ion-checkmark-circled balanced': analysis.grmGood()}"></i>
        </calculated-field>
        <calculated-field label="Initial Cash Outlay" ng-show="appVersion !== version.basic">{{calc.getTotalCashOutlay(property) | currency }}</calculated-field>

        <calculated-field label="Years to Recoup Investment">{{calc.getTotalCashOutlay(property) / calc.getCashFlow(property) / 12 | number:2 }}</calculated-field>

        <a class="item button button-full button-positive" href="#/app/properties/{{property.id}}/financing">
            View financing summary
        </a>
        <a class="item button button-full button-positive" href="#/app/properties/{{property.id}}/pro-forma">
            View pro forma
        </a>
        <div class="item spacer invisible">
        </div>
        <div class="item spacer invisible">
        </div>
    </ion-content>
    <div class="bar bar-footer " ng-class="{'bar-balanced': greenLight(), 'bar-assertive': !greenLight()}">
        <div class="title">
            <span ng-show="greenLight()">Everything checks out!</span>
            <span ng-show="!greenLight()">Slow down, pardner!</span>
        </div>
    </div>
</ion-view>
