<ion-view title="{{property.basics.name}}">
    <ion-nav-buttons side="left">
        <!--The menu button-->
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear button-positive" href="#/app/properties/{{property.id}}/analysis">
            Analyze
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1 class="content-pad">Property Info</h1>
        <div class="list">
            <group label="Basic Info">
                <text-field label="Property Name" ng-model="property.basics.name"></text-field>
                <text-field label="Street Address" ng-model="property.basics.streetAddress"></text-field>
                <text-field label="City" ng-model="property.basics.city"></text-field>
                <text-field label="State" ng-model="property.basics.state"></text-field>
                <text-field label="Zip" ng-model="property.basics.zip"></text-field>
                <number-field label="Total Square Footage" ng-model="property.basics.squareFootage"></number-field>
            </group>
            <group label="Initial Cost">
                <number-field label="Purchase Price" ng-model="property.initial.purchasePrice" prefix="$"></number-field>
                <number-field label="Repairs & Improvements" ng-model="property.initial.repairsAndImprovements" prefix="$"></number-field>
                <calculated-field label="Total All In">{{property.initial.purchasePrice+property.initial.repairsAndImprovements | currency}}</calculated-field>
            </group>
            <group label="Value" id="sale-value-pro" ng-show="appVersion != version.basic">
                <number-field label="Est. Appraised Value" ng-model="property.value.appraisedValue" prefix="$"></number-field>
                <number-field label="Est. Quick Sale Value" ng-model="property.value.quickSaleValue" prefix="$"></number-field>
                <number-field label="Investor Discount/Profit" ng-model="property.value.investorDiscount" suffix="%"></number-field>
                <number-field label="Prior Year County Appraised Value" ng-model="property.value.priorAppraisedValue" prefix="$"></number-field>
            </group >
            <group label="Value" id="sale-value-basc" ng-show="appVersion === version.basic">
                <number-field label="Est. Appraised Value" ng-model="property.value.appraisedValue" prefix="$"></number-field>
            </group>
            <group  label="Loan Information" id="loan-info">
                <number-field label="Interest Rate" ng-model="property.loan.interestRate" suffix="%"></number-field>
                <number-field label="Term of Loan" ng-model="property.loan.termYears" suffix="years"></number-field>
                <number-field label="Down Payment" ng-model="property.loan.downPaymentPercent" suffix="%"></number-field>
            </group >
            <group label="Income">
                <number-field label="Gross Monthly Rental Income" ng-model="property.income.grossMonthlyRentalIncome" prefix="$"></number-field>
                <number-field label="Other Monthly Income" ng-model="property.income.otherMonthlyIncome" prefix="$"></number-field>
                <number-field label="Vacancy Rate Loss" ng-model="property.expenses.vacancyRateLoss" suffix="%"></number-field>
                <calculated-field label="Gross Operating Income (Annual)">{{ calc.getGrossAnnualOperatingIncome(property) | currency}}</calculated-field>
            </group>
            <group label="Expenses">
                <number-field label="Annual Property Tax" ng-model="property.expenses.annualPropertyTax" prefix="$"></number-field>
                <number-field label="Annual Insurance" ng-model="property.expenses.annualInsurance" prefix="$"></number-field>
                <number-field label="Property Management Fee" ng-model="property.expenses.propertyManagementPercent" suffix="%"></number-field>
                <number-field label="Maintenance Factor" ng-model="property.expenses.maintenancePercent" suffix="%"></number-field>
                <number-field label="Misc. Monthly Expenses" ng-model="property.expenses.miscMonthlyExpenses" prefix="$"></number-field>
                <calculated-field label="Total Expenses (Annual)">{{ calc.getAnnualExpenses(property) | currency}}</calculated-field>
            </group>
            <a class="item button button-full button-positive" href="#/app/properties/{{property.id}}/analysis">
                Get property analysis
            </a>

            <a class="item button button-full" href="#/app/properties/{{property.id}}/financing">
                View financing summary
            </a>
            <a class="item button button-full" href="#/app/properties/{{property.id}}/pro-forma">
                View pro forma
            </a>

            <div class="item spacer invisible">
            </div>

            <button class="item button button-full button-assertive dangerous" ng-click="delete(property)">
                Delete this property
            </button>
        </div>
    </ion-content>
</ion-view>
