<ion-view title="Properties">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="newProperty()">
            <i class="icon ion-compose"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="property in properties" href="#/app/properties/{{property.id}}">
                {{property.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
