<ion-view title="Property Info">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1 class="content-pad">Property Info</h1>
        <div class="list small-number-inputs">
            <div class="item item-divider">
                Basic Info
            </div>
            <label class="item item-input">
                <span class="input-label">Property Name</span>
                <input type="text" ng-model="property.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Street Address</span>
                <input type="number" ng-model="property.streetAddress">
            </label>
            <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text" ng-model="property.city">
            </label>
            <label class="item item-input">
                <span class="input-label">State</span>
                <input type="text" ng-model="property.state">
            </label>
            <label class="item item-input">
                <span class="input-label">Zip</span>
                <input type="number" ng-model="property.zip">
            </label>
            <div class="item item-divider">
                Expenses
            </div>
            <label class="item item-input">
                <span class="input-label">Purchase Price</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.purchasePrice">
            </label>
            <label class="item item-input">
                <span class="input-label">Repairs & Improvements</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.repairsAndImprovements">
            </label>
            <label class="item item-input">
                <span class="input-label">Total All In</span>
                <span class="simulate-input">{{property.purchasePrice+property.repairsAndImprovements | currency}}</span>
            </label>
            <div class="item item-divider">
                Value
            </div>
            <label class="item item-input">
                <span class="input-label">Est. Appraised Value</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.appraisedValue">
            </label>
            <label class="item item-input">
                <span class="input-label">Est. Quick Sale Value</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.quickSaleValue">
            </label>
            <label class="item item-input">
                <span class="input-label">Investor Discount/Profit</span>
                <input type="number" class="right" ng-model="property.investorDiscount"><span class="input-units">%</span>
            </label>
            <label class="item item-input">
                <span class="input-label">Prior Year County Appraised Value</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.priorAppraisedValue">
            </label>
            <div class="item item-divider">
                Taxes
            </div>
            <label class="item item-input">
                <span class="input-label">Prior Year Property Tax</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.priorPropertyTax">
            </label>
            <label class="item item-input">
                <span class="input-label">Est. Property Tax Increase</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.propertyTaxIncrease">
            </label>
            <div class="item item-divider">
                Miscellaneous (needs organizing)
            </div>
            <label class="item item-input">
                <span class="input-label">Total square footage</span>
                <input type="number" class="right" ng-model="property.squareFootage">
            </label>
            <label class="item item-input">
                <span class="input-label">Annual Insurance Cost</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.insuranceCost">
            </label>
            <label class="item item-input">
                <span class="input-label">Gross Monthly Rental Income</span>
                <span class="input-units">$</span><input type="number" class="right" ng-model="property.insuranceCost">
            </label>
            <a class="item button button-full button-positive" href="#/app/property/analysis">
                Get property analysis
            </a>
        </div>
    </ion-content>
</ion-view>
