//$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
//@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
//@import '../lib/ionic/css/ionic.css';


/** Forms **/
.right {
    text-align: right;
}
.input-units {
    width: 25px;
}
.right+.input-units {
    padding-right: 15px;
}

.list .input-label {
    max-width: inherit;
}
.list .item-input input {
    padding-right: 2px;
}
.simulate-input {
    padding-right: 10px;
}
.list.small-number-inputs .item-input input[type="number"] {
    max-width: 100px;
    width: 100px;
}


/** Lists **/
.spacer {
  border: none;
  height: 40px;
}


/** Content wrappers **/
.content-pad {
    padding: 15px;
}



/** Utility classes **/
.text-center {
  text-align: center;
}

