
p, div {
    font-size: 16px;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
    font-size: 16px;
}


/** Forms **/
.right {
  text-align: right;
}
.right+.input-units {
  padding-right: 15px;
}
.input-units.prefix {
    text-align: right;
}

.list .input-label {
  max-width: inherit;
}
.simulate-input {
    padding-right: 10px;
}

.item .item-field {
    float: right;
}
input[type=number].item-field {
    max-width: 5em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 220px;
    -ms-flex: 1 0 220px;
    flex: 1 0 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    height: 1.5em;
    background-color: transparent;
}

input[type=text].item-field {
    max-width: 50%;
    text-align: right;
    height: 1.5em;
}


/** Lists **/
.spacer {
  border: none;
  height: 40px;
}

/** Buttons **/
.button.dangerous {
    font-size: 95%;
    min-height: 35px;
}

/** Content wrappers **/
.content-pad {
  padding: 16px;
}



/** Utility classes **/
.text-center {
  text-align: center;
}



